<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day05-myself</display-name>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>cn.wang.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>cn.wang.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>cn.wang.servlet.ServletDemo3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDemo4</servlet-name>
    <servlet-class>cn.wang.servlet.ServletDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfigServletDemo1</servlet-name>
    <servlet-class>cn.wang.servletconfig.ConfigServletDemo1</servlet-class>
    <init-param>
      <param-name>xxx</param-name>
      <param-value>yyy</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>ws</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfigServletDemo2</servlet-name>
    <servlet-class>cn.wang.servletconfig.ConfigServletDemo2</servlet-class>
    <init-param>
      <param-name>xx</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo3</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo4</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo4</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo5</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo5</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo6</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo6</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo7</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo7</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo8</servlet-name>
    <servlet-class>cn.wang.context.ServletContextDemo8</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDemo5</servlet-name>
    <servlet-class>cn.wang.servlet.ServletDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/servlet/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/servlet/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo4</servlet-name>
    <url-pattern>/servlet/ServletDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigServletDemo1</servlet-name>
    <url-pattern>/servlet/ConfigServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigServletDemo2</servlet-name>
    <url-pattern>/servlet/ConfigServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/servlet/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/servlet/ServletContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo3</servlet-name>
    <url-pattern>/servlet/ServletContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo4</servlet-name>
    <url-pattern>/servlet/ServletContextDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo5</servlet-name>
    <url-pattern>/servlet/ServletContextDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo6</servlet-name>
    <url-pattern>/servlet/ServletContextDemo6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo7</servlet-name>
    <url-pattern>/servlet/ServletContextDemo7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo8</servlet-name>
    <url-pattern>/servlet/ServletContextDemo8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo5</servlet-name>
    <url-pattern>/servlet/ServletDemo5</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>